[Unit]
Description=Sync SRVB OS Flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/flatpak --system --noninteractive preinstall
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target