[Unit]
Description=Install SRVB OS Flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall --system --noninteractive

[Install]
WantedBy=multi-user.target